.main{
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
}
.videos{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
  gap: 30px;
}
.header{
  height: 100%;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.body{
  display: grid;
  grid-template-columns: 1fr 350px;
}
.rightBlock{
  padding: 0px 20px;
}
.remoteVideo, .localVideo{
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
  background: #262a30;
  height: 100%;
  display: flex;
}
.content{
  display: grid;
  grid-template-rows: 1fr 100px;
  padding: 30px;
  background: #1c2127;
}